<?xml version="1.0"?>
<config>
    <modules>
        <Vendiro_ApiHandler>
            <version>1.0.1</version>
        </Vendiro_ApiHandler>
    </modules>
    <global>
        <models>
            <vendiro_apihandler>
                <class>Vendiro_ApiHandler_Model</class>
            </vendiro_apihandler>
        </models>
        <blocks>
            <vendiro_apihandler>
                <class>Vendiro_ApiHandler_Block</class>
            </vendiro_apihandler>
        </blocks>
        <resources>
            <vendiro_apihandler_setup>
                <setup>
                    <module>Vendiro_ApiHandler</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </vendiro_apihandler_setup>
        </resources>
        <helpers>
            <vendiro_apihandler>
                <class>Vendiro_ApiHandler_Helper</class>
            </vendiro_apihandler>
        </helpers>
        <index>
            <indexer>
                <vendiro_fullstock_index>
                    <model>vendiro_apihandler/indexer_fullstock</model>
                </vendiro_fullstock_index>
            </indexer>
        </index>
        <events>
            <cataloginventory_stock_item_save_commit_after>
                <observers>
                    <vendiro_stockupdate>
                        <class>vendiro_apihandler/observer</class>
                        <method>catalogInventorySave</method>
                    </vendiro_stockupdate>
                </observers>
            </cataloginventory_stock_item_save_commit_after>
            <sales_model_service_quote_submit_before>
                <observers>
                    <vendiro_stockupdate>
                        <class>vendiro_apihandler/observer</class>
                        <method>subtractQuoteInventory</method>
                    </vendiro_stockupdate>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <vendiro_stockupdate>
                        <class>vendiro_apihandler/observer</class>
                        <method>revertQuoteInventory</method>
                    </vendiro_stockupdate>
                </observers>
            </sales_model_service_quote_submit_failure>
            <sales_order_item_cancel>
                <observers>
                    <vendiro_stockupdate>
                        <class>vendiro_apihandler/observer</class>
                        <method>cancelOrderItem</method>
                    </vendiro_stockupdate>
                </observers>
            </sales_order_item_cancel>
            <sales_order_creditmemo_save_after>
                <observers>
                    <vendiro_stockupdate>
                        <class>vendiro_apihandler/observer</class>
                        <method>refundOrderInventory</method>
                    </vendiro_stockupdate>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <vendiro_apihandler after="Mage_Adminhtml">Vendiro_ApiHandler_Adminhtml</vendiro_apihandler>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <vendiro_apihandler>
            <crons>
                <order_cron_expression>*/10 * * * *</order_cron_expression>
                <shipment_cron_expression>0 */1 * * *</shipment_cron_expression>
                <stock_partial_cron_expression>*/5 * * * *</stock_partial_cron_expression>
                <stock_full_cron_expression>0 4 * * *</stock_full_cron_expression>
            </crons>
        </vendiro_apihandler>
        <payment>
            <vendiro_standard>
                <model>vendiro_apihandler/payment_standard</model>
                <active>1</active>
                <title>Vendiro Payment</title>
            </vendiro_standard>
        </payment>
        <carriers>
            <vendiro_standard>
                <active>1</active>
                <model>vendiro_apihandler/shipment_standard</model>
                <title>Vendiro Shipment</title>
            </vendiro_standard>
        </carriers>
    </default>
    <crontab>
        <jobs>
            <vendiro_send_stock>
                <schedule><cron_expr></cron_expr></schedule>
                <run><model>vendiro_apihandler/observer::sendStockToApi</model></run>
            </vendiro_send_stock>
            <vendiro_send_stock_full>
                <schedule><cron_expr></cron_expr></schedule>
                <run><model>vendiro_apihandler/observer::sendStockToApiFull</model></run>
            </vendiro_send_stock_full>
            <vendiro_order_import>
                <schedule><cron_expr></cron_expr></schedule>
                <run><model>vendiro_apihandler/observer::importOrderFromApi</model></run>
            </vendiro_order_import>
            <vendiro_shipment_export>
                <schedule><cron_expr></cron_expr></schedule>
                <run><model>vendiro_apihandler/observer::exportShipmentToApi</model></run>
            </vendiro_shipment_export>
        </jobs>
    </crontab>
</config>
